button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  margin-right: 5px;
}

.country-list {
  display: flex;
}

.country-list li {
  margin-bottom: 10px;
  margin-right: 100px;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}
