button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  margin-right: 5px;
}

.country-list {
  width: 400px;
}

.country-list li {
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgb(219, 219, 219);
  transition: all 0.2s linear;
}

.country-list li:hover {
  background-color: rgb(97, 150, 248);
}

.country-name {
  text-transform: uppercase;
}
